body{
	margin:0px;
	padding:0px;
}
#container{
	width:50%;
	height:99%;
	background-color:aqua;
	margin-left:25%;
	position:absolute;
}
#field{
	background-color:purple;
	width:90%;
	height:40%;
	margin-left:5%;
	margin-top:-60%;
	position:absolute;
}
#menu{
	margin-left:-49%;
	margin-top:10%;
	width:20%;
	height:50%;
	background-color:grey;
}

#a11,#a12,#a21,#a22,#b11,#b12,#b21,#b22{
	
	width:10%;
	height:10%;
}

#buthit{
	margin-left:45%;
	margin-top:-10%;
}